PORT=3001
PSQL_HOST=csce-315-db.engr.tamu.edu
PSQL_DATABASE=team_50_db
PSQL_USER=team_50
PSQL_PASSWORD=your_password_here
PSQL_PORT=5432
OPENWEATHER_API_KEY=your_openweather_key_here
GEMINI_API_KEY=your_gemini_key_here
