@import './MenuManagement.css';

.inventory-mgmt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.back-link-btn {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
